body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0,0.9);
    height: 90vh;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    place-items: center;
    
}
ul,li{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: #fe0101;
    font-family: 'Orbitron', sans-serif;
    
}

.id{
    text-align: center;
    color: #fff;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    justify-content: center;
    align-items: center;
    max-width: 40em;
    padding: 1.5rem;
    margin: 1rem;
    border: 1px solid #000;
    box-shadow: 5px 5px 8px #000;
    border-radius: .4rem;
    
}

.pokemon{
    display: grid;
    place-items: center;
    grid-template-rows: 1fr .5fr 2.5fr 1fr;
    text-align: center;
}

.img{
    min-width: 12rem;
    min-height: 12rem;
    text-align: center;
}

.name{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    font-family:'Orbitron', sans-serif;
    color:rgba(255, 255, 255,0.9);
}

.type{
    background-color: rgb(68, 133, 28);
    font-size: 2rem;
    border-radius: .5rem;
    color: #fff;
    font-family: 'Ubuntu';
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    min-width: 100%;
}

.card{
    display: grid;
    min-height: 20vh;
    min-width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    
    
}

.abilities .moves{
    font-size: .5rem;
    font-family: 'Roboto Mono', monospace;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.abilities > li, .moves > li{
    list-style: none;
    text-align: center;
    padding: .5rem;
}

.info h4{
    font-size: 1.2rem;
    color: #fe0101;
    text-decoration: underline;
    margin: 0;
    text-align: center;
    
}

.controls{
    grid-column: 1 / 3;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    text-align: center;
    
}

@media (min-width:40em){
    .container{
        min-width: 20vw;
    }

}


